<%- include("partials/header"); %> 
<h1>Contact</h1>
<p>โ : <%=contact.email%> </p>
<p>๐ฑ : <%=contact.mobile%> </p>
<p>๐ : ๐งก๐ค๐<%=contact.address%>๐งก๐ค๐ </p>
<%- include("partials/footer"); %> 